<canvas #canvas class="canvas"></canvas>

<div class="d-flex flex-row mt-2">
  <button class="btn btn-primary btn-lg mr-2" (click)="start()">Spiel starten</button>
  <h4>Aktueller Kurs: {{ course.toFixed() }}€</h4>

  <div class="profit ml-5 flex-row d-flex" [ngClass]="{ green: profitAmout > 0, red: profitAmout < 0 }" *ngIf="profitAmout != 0">
    <i class="fas fa-angle-down" *ngIf="profitAmout < 0"></i>
    <i class="fas fa-angle-up" *ngIf="profitAmout > 0"></i>
    <h4 class="mx-2">{{ profitAmout.toFixed(2) }}€</h4>
    <h4>{{ profitProsent.toFixed(2) }}%</h4>
  </div>
</div>

<div class="d-flex flex-row mt-2">
  <div class="form-group mx-2 pt-2">
    <input type="number" style="width: 100px" class="form-control" value="10" #shareSelect />
  </div>
  <button class="btn btn-info btn-lg mr-2" (click)="buy(shareSelect.value)">Aktien kaufen</button>
  <button class="btn btn-info btn-lg mr-2" (click)="buy(shareSelect.value)">Aktien verkaufen</button>
  <button class="btn btn-info btn-lg mr-2" (click)="sell(shares)">Alle Aktien verkaufen</button>
</div>

<div class="d-flex flex-row mt-2">
  <h4 class="mr-3">Kontostand: {{ amount.toFixed() }}€</h4>
  <h4 class="mr-2">Restzeit: {{ timeLeft }}s</h4>
</div>
<div class="d-flex flex-row mt-2">
  <h4 class="mr-3">Anzahl Aktien im besitz: {{ shares }}</h4>
  <h4 class="mr-3">Wert Aktien im besitz: {{ (course * shares).toFixed() }}€</h4>
</div>
