<div class="modal-header">
  <h5 class="modal-title">Adresse</h5>
</div>
<div class="modal-body">
  <form class="needs-validation" novalidate>
    <div class="form-group has-validation">
      <label for="exampleFormControlInput1">Anrede</label>
      <select class="form-control" (ngModelChange)="validate(data)" [(ngModel)]="data.title" [ngClass]="{ 'is-valid': valids.title, 'is-invalid': !valids.title }" name="title" required>
        <option>Herr</option>
        <option>Frau</option>
        <option>Divers</option>
      </select>
      <div class="invalid-feedback">Bitte wählen sie eine Anrede aus</div>
    </div>
    <div class="form-group has-validation">
      <label for="exampleFormControlInput1">Name</label>
      <div class="row">
        <div class="col">
          <input type="text" (ngModelChange)="validate(data)" name="firstName" class="form-control" [ngClass]="{ 'is-valid': valids.first, 'is-invalid': !valids.first }" required placeholder="Vorname" [(ngModel)]="data.firstName" />
          <div class="invalid-feedback">Bitte geben sie einen validen Vornamen an</div>
        </div>
        <div class="col">
          <input type="text" (ngModelChange)="validate(data)" name="lastName" class="form-control" [ngClass]="{ 'is-valid': valids.last, 'is-invalid': !valids.last }" required placeholder="Nachname" [(ngModel)]="data.lastName" />
          <div class="invalid-feedback">Bitte geben sie einen validen Nachnamen an</div>
        </div>
      </div>
    </div>
    <div class="form-group has-validation">
      <label for="exampleFormControlInput1">Email-Adresse</label>
      <input
        type="email"
        (ngModelChange)="validate(data)"
        name="email"
        required
        class="form-control"
        id="email"
        [ngClass]="{ 'is-valid': valids.email, 'is-invalid': !valids.email }"
        [(ngModel)]="data.email"
        placeholder="name@example.com"
      />
      <div class="invalid-feedback">Bitte geben sie eine valide Email-Adresse an</div>
    </div>
    <div class="form-group has-validation">
      <label for="exampleFormControlInput1">Geburtstag</label>
      <input
        class="form-control"
        required
        placeholder="Geburtstag wählen"
        [ngClass]="{ 'is-valid': valids.date, 'is-invalid': !valids.date }"
        name="dp"
        [minDate]="{ year: 1950, month: 1, day: 1 }"
        [(ngModel)]="data.birthday"
        (ngModelChange)="validate(data)"
        ngbDatepicker
        #d="ngbDatepicker"
        (click)="d.toggle()"
      />
      <div class="invalid-feedback">Sie sind nicht alt genug für diesen Service</div>
    </div>
    <div class="form-group has-validation">
      <label for="exampleFormControlInput1">Postleitzahl</label>
      <input type="number" [(ngModel)]="data.plz" name="plz" required class="form-control" (ngModelChange)="validate(data)" [ngClass]="{ 'is-valid': valids.plz, 'is-invalid': !valids.plz }" id="plz" placeholder="" />
      <div class="invalid-feedback">Bitte geben sie eine valide Postleitzahl an</div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submit()">Bestätigen</button>
</div>
