<div class="jumbotron heading gradient">
  <div class="container">
    <h1 class="display-4 text-light">Doge Bank</h1>
    <p class="lead text-light">Die Doge Bank GmbH & CO Kg ist Ihre Bank des Vertrauens.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg text-light" href="#" role="button">Mehr erfahren <i class="fas fa-angle-double-right"></i></a>
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <h2>Kredite</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam nisi, amet possimus, dolor aliquid blanditiis aspernatur repudiandae ducimus sequi iure, voluptatum quod a minima numquam praesentium sunt! Consequuntur, excepturi
        cupiditate.
      </p>
      <p>
        <button class="btn btn-primary btn-lg btn-block">Mehr</button>
      </p>
    </div>
    <div class="col-lg">
      <h2>Girokonto</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam nisi, amet possimus, dolor aliquid blanditiis aspernatur repudiandae ducimus sequi iure, voluptatum quod a minima numquam praesentium sunt! Consequuntur, excepturi
        cupiditate.
      </p>
      <p>
        <button class="btn btn-primary btn-lg btn-block">Mehr</button>
      </p>
    </div>
    <div class="col-lg">
      <h2>Aktien</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam nisi, amet possimus, dolor aliquid blanditiis aspernatur repudiandae ducimus sequi iure, voluptatum quod a minima numquam praesentium sunt! Consequuntur, excepturi
        cupiditate.
      </p>
      <p>
        <button class="btn btn-primary btn-lg btn-block">Mehr</button>
      </p>
    </div>
    <div class="col-lg">
      <h2>Börsenspiel <span class="badge badge-danger">New</span></h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam nisi, amet possimus, dolor aliquid blanditiis aspernatur repudiandae ducimus sequi iure, voluptatum quod a minima numquam praesentium sunt! Consequuntur, excepturi
        cupiditate.
      </p>
      <p>
        <button routerLink="/game" class="btn btn-info btn-lg btn-block">Zum Spiel</button>
      </p>
    </div>
  </div>
</div>
