@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
// Set the full page height so we can stick the footer to the bottom
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.gradient {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
